.ntua_header {
  display: flex;
  background-color: #474747;
}

.ntua_header .phone {
  padding-left: 110px;
  display: flex;
  color: #ffffff;
  text-decoration: none;
}
.ntua_header .mail {
  padding-left: 50px;
  display: flex;
  color: #ffffff;
  text-decoration: none;
}
.ntua_header ul .phone a {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
}
.ntua_header .icons {
  width: 1140px;
  text-align: right;
  display: flex;
  justify-content: right;
}

.ntua_nav {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px;
}
.ntua_nav a {
  padding-left: 90px;
  display: flex;
}
.ntua_nav .menu {
  display: inline-block;
  margin-left: 100px;
  vertical-align: middle;
}
.ntua_nav .menu li {
  display: inline-block;
}
.ntua_nav .menu li a {
  padding: 15px;
  margin: 5px;
}
.ntua_nav .menu li:hover {
  background-color: #cacaca;
  border-radius: 30px;
}
.ntua_nav ul li a {
  display: inline-block;
  text-decoration: none;
  color: #2c2f24;
}
.ntua_nav .button {
  width: calc(100% - 1200px);
  text-align: right;
}
.ntua_nav button {
  background-color: #ffffff;
  width: 112px;
  height: 48px;
  padding: 10px;
  border-radius: 118px;
}
.ntua_body {
  background-image: url(./img/image\ 110.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  padding: 250px;
  right: 0px;
  left: 0px;
  font-family: Microsoft JhengHei;
}
.ntua_body h1 {
  text-align: center;
  padding: 50px;
  font-size: 100px;
}
.ntua_body p {
  text-align: center;
  padding: 50px;
  font-size: 25 px;
}
.ntua_body .button1 {
  text-align: center;
}
.ntua_body button {
  margin: 10px;
  text-align: center;
  display: inline-block;
  justify-content: center;
  background-color: #ffffff;
  width: 112px;
  height: 48px;

  border-radius: 50px;
}

.ntua_body button:hover {
  border: 0px;
  color: #ffffff;
  background-color: #ad343e;
}
